* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: JetBrainsMono Nerd Font;
	font-size: 13px;
	/* color: #c9c7cd; */
}

window#waybar {
	background-color: rgb(22, 22, 23);
	color: #c9c7cd;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces {
	background-color: transparent;
}

#workspaces button {
	all: initial;
	/* Remove GTK theme values (waybar #1351) */
	min-width: 0;
	/* Fix weird spacing in materia (waybar #450) */
	box-shadow: inset 0 -3px transparent;
	/* Use box-shadow instead of border so the text isn't offset */
	padding: 6px 18px;
	margin: 6px 3px;
	border-radius: 4px;
	color: #c9c7cd;
}

#workspaces button.focused {
	color: #e3e2e5;
	background-color: #3C3B3E;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #161617;
	background-color: #c9c7cd;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

#memory,
#custom-power,
#custom-keyboard-layout,
#battery,
#backlight,
#wireplumber,
#network,
#power-profiles-daemon,
#clock,
#tray {
	border-radius: 4px;
	margin: 6px 3px;
	padding: 6px 12px;
	/* background-color: #3C3B3E; */
	color: #c9c7cd;
}

#memory:hover,
#custom-power:hover,
#custom-keyboard-layout:hover,
#battery:hover,
#backlight:hover,
#wireplumber:hover,
#network:hover,
#power-profiles-daemon:hover,
#clock:hover,
#tray:hover {
	background-color: #3C3B3E;
}

#custom-power {
	margin-right: 6px;
	/* background-color: #3C3B3E; */
}

#custom-logo {
	padding-right: 7px;
	padding-left: 7px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 8px 0px 0px 8px;
	color: #1793d1;
}

#memory {
	/* background-color: #e6b99d; */
}

#battery {
	/* background-color: #90b99f; */
}

#battery.warning,
#battery.critical,
#battery.urgent {
	background-color: #f5a191;
	color: #FFFF00;
}

#battery.charging {
	background-color: #90b99f;
	color: #181825;
}

#backlight {
	/* background-color: #f5a191; */
}

#wireplumber {
	/* background-color: #cdd6f4; */
}

#network {
	/* background-color: #cdd6f4; */
	padding-right: 17px;
}

#clock {
	font-family: JetBrainsMono Nerd Font;
	/* background-color: #e6b99d; */
	background-color: #3C3B3E;
	color: #e3e2e5;
}

#custom-power {
	/* background-color: #cdd6f4; */
}

#custom-keyboard-layout {
	/* background-color: #e6b99d; */
}

#power-profiles-daemon {
	/* background-color: #90b99f; */
}


tooltip {
	border-radius: 8px;
	padding: 15px;
	background-color: #27272a;
}

tooltip label {
	padding: 5px;
	background-color: #27272a;
}
